.pj-wrapper{
   font-family: 'roboto light', sans-serif;
    margin-top: 50px;
    width: 100%;
    min-width: 300px;
    margin-bottom: 40px;
}
.pj-wrapper h3{
    font-family:'roboto light', sans-serif;
    font-weight: 400;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 0;
    font-size: 21px;
    line-height: 24px;
    color: #646464;
}
.pj-wrapper .intro_text{
    font-family: 'roboto light', sans-serif;
    font-size: 16px;
    font-weight: 300;
}



.pj-wrapper i{
    font-family: 'roboto light', sans-serif;
    font-style: normal;
    background-color: #646464;
    color: #ffffff;
}

.pj-img{
    width: 100%;
    height: auto;
}



div.row{
    max-width: 2000px;
    padding-left: 5px;
    padding-right: 5px;
}

.writing{
    margin-bottom: 80px;

}

.writing .col-sm-12 {
    margin-top:30px;
}

