@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Permanent+Marker&display=swap');

body {
  text-align: center;
}

.header {
  margin-top: 100px;
  position: relative;
}
.header i {
  color: grey;
}


h10 {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

h11 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  text-align: center;
padding-left: 100px;
  padding-right: 100px;
  display: block;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h5,
h6 {
  font-size: 10px;
  font: 30px ;
}


.pj-wrapper .intro_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}

q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}


@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}

.cd-timeline-block {
  font-family: 'Montserrat', sans-serif;
}
.cd-timeline-block a {
  text-decoration: none;
  color: #9c9c9c;
  font-size: 20px;
}

.writing {
  font-family: 'Montserrat', sans-serif;
}

.writing a {
  font-size: 15px;
  color: #9c9c9c;
}

li {
  list-style: none;
}
input,
img {
  border: none;
}

body,
html {
  height: 50%;
  font-family: 'Montserrat', sans-serif;
}

.header {
  scroll-padding-top: 300px;
  padding-bottom: 40px;
  text-align: center;
  color: #646464;
}

.header span {
  font-family: 'Montserrat', sans-serif;
}

.cd-timeline-content span {
  color: #4fb9e3;
}
html,
body {
  font-size: 16px;
  color: #b0e0e6;
}

h2 {
  color: #f2f2f2;
  font-size: 5em;
  font-weight: 1000;
}

h5 {
  text-align: center;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

/* .far fa-envelope {
  style:font-size: 24px;
} */


#barE .projects-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

#barE .pj-wrapper {
  max-width: 400px;
  min-width: 140px;
  margin: 0;
  padding: 20px;
}


#barJ .photo-row {
  padding-right: 10%;
  padding-left: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  justify-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0;
}

/* Offset anchor targets slightly higher for better visibility */
:target {
  scroll-margin-top: 70px; /* Adjust to match or slightly exceed navbar height */
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#navbar li {
  display: inline-block;
  margin: 0 12px; /* Add spacing between items */
  vertical-align: middle;
}

#navbar li:hover,
#navbar a:hover {
  background-color: #dad9d97b;
  color: #fff;
  transition: background 0.2s, color 0.2s;
}

/* Page content */
.content {
  padding: 16px;
}

.col-sm {
  font-size: 0.5em;
}

#p3 {
  height: 600px;
  padding: 10px;
  line-height: 2em;
  font-size: 1em;
}

#togBut {
  border: 1px solid white;
  border-radius: 10px;
  background: #87ceeb;
  padding: 1.5px;
}

#togBut:hover {
  background: black;
  color: white;
}

.pro_img {
  float: left;
  padding: 7em;
  width: 50%;
  height: 300px;
}
.pro_text {
  float: left;
  padding: 5em;
  width: 50%;
  height: 600px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #646464;
}

.linkedin-iframe-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin: 20px 0;
}

.side-note {
  background: #f9f9f9;
  color: #333;
  border-radius: 8px;
  padding: 24px 20px;
  max-width: 340px;
  min-width: 220px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media (max-width: 900px) {

    #barA {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }
  .linkedin-iframe-row {
    flex-direction: column;
    align-items: center;
  }

    #barE .pj-wrapper {
    max-width: 95vw;
    min-width: 0;
  }

  #barE .projects-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  #barE .pj-wrapper {
    max-width: 98vw;
    min-width: 0;
    width: 100%;
  }
  .side-note {
    max-width: 90vw;
    min-width: unset;
  }
}


  @media (max-width: 700px) {
   #barA {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #barA h10,
  #barA h11,
  #barA span {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .linkedin-iframe-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  #barE .pj-wrapper {
    max-width: 95vw;
    min-width: 0;
  }

  #barE .projects-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  #barE .pj-wrapper {
    max-width: 98vw;
    min-width: 0;
    width: 100%;
  }

  .side-note{
    max-width: 90vw;
    min-width: unset;
  }


@media only screen and (max-width: 420px) {
     #barA {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #barA h10,
  #barA h11,
  #barA span {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  h10 {
    font-size: 25px;
  }
  h11 {
    font-weight: 400;
    font-size: 13px;
  }
  #barE .projects-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  #barE .pj-wrapper {
    max-width: 98vw;
    min-width: 0;
    width: 100%;
  }
}

